<h2>Versions</h2>
<table>
  <thead>
    <tr>
      <th>Version at</th>
      <th>Modifier</th>
      <th>Event</th>
      <th>Changes</th>   
    </tr>
  </thead>

  <tbody>
  	<% @user.versions.each do |version| %>
  	  <tr>
  	  	<td><%= version.created_at %></td>
  	  	<td><%= version.whodunnit %></td>
        <td><%= version.event %></td>
  	  	<td>
          <table>
            <thead>
              <tr>
                <th></th>
                <th>Old</th>
                <th>New</th>
              </tr>
              <tbody>
                <% version.changeset.each do |key, value| %>
                  <% if (value[0].present? || value[1].present?) && key != 'encrypted_password' %>
                    <tr>
                      <td><strong><%= key.humanize %>:</strong></td>
                      <td><%= value[0] %></td>
                      <td><%= value[1] %></td>
                    </tr>
                  <% end %> 
                <% end %>
              </tbody>
            </thead>
          </table>
  	  	</td>
  	  </tr>
  	<% end %>
  </tbody>
</table>