<p>
  <strong>Title:</strong>
  <%= @user.title %>
</p>
<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>
<p>
  <strong>Middle Name:</strong>
  <%= @user.middle_name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Cell:</strong>
  <%= @user.cell_phone %>
</p>
<p>
  <strong>Secondary Phone:</strong>
  <%= @user.secondary_phone %>
</p>
<p>
  <strong>Fax:</strong>
  <%= @user.fax %>
</p>
<p>
  <strong>Street:</strong>
  <%= @user.street %>
</p>
<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>
<p>
  <strong>State / Province:</strong>
  <%= @user.province %>
</p>
<p>
  <strong>Zip / Postal Code:</strong>
  <%= @user.postal %>
</p>
<p>
  <strong>Country:</strong>
  <%= @user.country %>
</p>
<p>
  <strong>Deleted At:</strong>
  <%= @user.deleted_at %>
</p>
<p>
  <strong>Updated At:</strong>
  <%= @user.updated_at %>
</p>
<p>
  <strong>Created At:</strong>
  <%= @user.created_at %>
</p>

<h2>Login Activities</h2>
<table>
  <thead>
    <tr>
      <th>identity</th>
      <th>success</th>
      <th>failure_reason</th>
      <th>ip</th>
      <th>user_agent</th>
      <th>city</th>
      <th>region</th>
      <th>country</th>
      <th>created_at</th>      
    </tr>
  </thead>

  <tbody>
    <% @login_activities.each do |login| %>
      <tr>
        <td><%= login.identity %></td>
        <td><%= login.success %></td>
        <td><%= login.failure_reason %></td>
        <td><%= login.ip %></td>
        <td><%= login.user_agent %></td>
        <td><%= login.city %></td>
        <td><%= login.region %></td>
        <td><%= login.country %></td>
        <td><%= login.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', users_path %>