<h1>Login Activities</h1>

<table>
  <thead>
    <tr>
      <th>Scope</th>
      <th>Strategy</th>
      <th>Identity</th>
      <th>Success</th>
      <th>Failure reason</th>
      <th>User type</th>
      <th>User name</th>
      <th>Context</th>
      <th>Ip</th>
      <th>User agent</th>
      <th>Referrer</th>
      <th>City</th>
      <th>Region</th>
      <th>Country</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Created at</th>
    </tr>
  </thead>

  <tbody>
    <% @login_activities.each do |login| %>
      <tr>
      	<td><%= login.scope %></td>
      	<td><%= login.strategy %></td>
      	<td><%= login.identity %></td>
      	<td><%= login.success %></td>
      	<td><%= login.failure_reason %></td>
      	<td><%= login.user_type %></td>
      	<td><%= login.user&.first_name %> <%= login.user&.last_name %></td>
      	<td><%= login.context %></td>
      	<td><%= login.ip %></td>
      	<td><%= login.user_agent %></td>
      	<td><%= login.referrer %></td>
      	<td><%= login.city %></td>
      	<td><%= login.region %></td>
      	<td><%= login.country %></td>
      	<td><%= login.latitude %></td>
      	<td><%= login.longitude %></td>
      	<td><%= login.created_at %></td>
        <td><%= link_to 'Show', login %></td>
      </tr>
    <% end %>
  </tbody>
</table>